#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:fixed;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius:2px; 
    -moz-border-radius:2px;
}

#boxes #about {
    width:510px; 
    height:450px;
    padding:10px;
    background-color:#ffffff;
}

#boxes h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}

#boxes #load {
    width:800px; 
    height:450px;
    padding:0px;
    background-color:#ffffff;
}

.popupbutton {
    margin: 5px;
    font-size:20px;
    border:0px;
    height: 50px;
    width: 100px;
    background:#0099ff;
}

.popupbutton:hover {
    background: #9ad7ff;
}

.popupbutton:active {
    background: #ff944d;
}
